<!doctype html>
<title>Python Flask webserver</title>
<h2>Python Flask webserver - Hosted on Raspberry Pi Zero W</h2>
<h3>Authors: Nishaan Sewnath || Christopher Tooke</h3>

<p>
    <a href="{{ url_for('.download_file') }}">Log Download</a>
    <a href="{{ url_for('.check') }}">Check Log</a>
	<a href="{{ url_for('.Sensor_On') }}">Sensor On</a>
	<a href="{{ url_for('.Sensor_Off') }}">Sensor Off</a>
	<a href="{{ url_for('.Status') }}">Status</a>
	<a href="{{ url_for('.Exit') }}">Exit</a> 
</p>

<p>EEE3095S - Practical 6</p>
<p>TKXCHR001 - SWNNIS001- 12/11/2021</p>